{{template "frame" .}}

<div class="container-lg mt-4">
    <h1>Banns</h1>
    <table class="table table-dark table-striped">
        <thead>
            <th>ID</th>
            <th>Spielername</th>
            <th>Gebannt von</th>
            <th>Datum</th>
            <th>Aktionen</th>
        </thead>
        <tbody>
            {{range .Bans}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.BannedName}}</td>
                <td>{{.BannerName}}</td>
                <td>{{.CreatedAtF}}</td>
                <td></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
